*{
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "quicksand", sans-serif;
    text-align: center;
  }

h1{
    background-color: #BAE0AD;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    border-radius: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
}

img{
    width: 900px;
}

.maps{
    display: flex;
    background-color: #BAE0AD;
    margin-left: 300px;
    margin-right: 300px;
    text-align: left;
    margin-bottom: 50px;
}


#pertanyaan{
    background-color: white;
    margin: 20px;
    padding: 10px;
}

#deskripsi{
    background-color: white;
    margin: 20px;
    padding: 10px;
}

#desa{
    background-color: white;
    margin: 20px;
    padding: 10px;
}

#desa img{
    width: 700px;
}