<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIBANTE</title>
    <link rel="stylesheet" href="../styles/blog.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="../script/transisi-button.js"></script>
</head>
<body>
    <header>
        <img src="../images/aset kuliner/logo_tibante_22.png" alt="Logo Bilebante" class="logo">
        <nav>
            <a href="../templates/index.html" class="nav-item">Home</a>
            <a href="../templates/wisata.html" class="nav-item">Wisata</a>
            <a href="../templates/kuliner.html" class="nav-item">Kuliner</a>
            <a href="#" class="nav-item">Blog</a>
            <a href="../templates/aboutus.html" class="nav-item">About Us</a>
        </nav>
    </header>

    <section id="blog">
        <h1>Blog Desa Wisata Hijau</h1>
        <p>Informasi seputar kegiatan/event Desa Wisata Hijau Bilebante bisa Anda baca disini. Harapan kami adalah anda datang sebagai tamu dan pulang sebagai keluarga</p>
        
        <div class="cards-container">
            <div class="card">
                <img src="../images/aset blog/penghargaan.png" alt="Certificate">
                <div class="card-content">
                    <h3>info Bilebante</h3>
                    <p>Desa Bilebante – Dalam perjalanan kepemimpinan Rakyatulliwauddin sebagai Local Champion Desa, Desa Bilebante telah mencatat prestasi luar biasa dengan meraih...</p>
                    <a href="#" class="read-more">Read More → </a>
                </div>
            </div>
            <div class="card">
                <img src="../images/aset blog/walikota.jpg" alt="Leader">
                <div class="card-content">
                    <h3>info Bilebante</h3>
                    <p>Rakyatulliwa’uddin, S.Pd.I Keluarga Besar Desa Wisata Hijau Bilebante mengucapkan terimakasih kepada Bapak Rakyatulliwa’uddin selama 17 tahun pengabdian sebagai kepala desa...</p>
                    <a href="#" class="read-more">Read More → </a>
                </div>
            </div>
            <div class="card">
                <img src="../images/aset blog/kerbau.jpg" alt="Tourism">
                <div class="card-content">
                    <h3>info Bilebante</h3>
                    <p>Desa Wisata Hijau Bilebante, sebagai destinasi pariwisata yang kaya akan keindahan alam dan kearifan lokalnya, merasakan kebahagiaan yang luar biasa...</p>
                    <a href="#" class="read-more">Read More → </a>
                </div>
            </div>
            <div class="card">
                <img src="../images/aset blog/event.png" alt="Tourism">
                <div class="card-content">
                    <h3>info Bilebante</h3>
                    <p>Bilebante- Pemerintah Provinsi NTB melalui Dinas Pariwisata Provinsi NTB telah resmi meluncurkan Calendar of Event (CoE) Provinsi Nusa Tenggara Barat...</p>
                    <a href="#" class="read-more">Read More → </a>
                </div>
            </div>
            <div class="card">
                <img src="../images/aset blog/sertifikat.png" alt="Tourism">
                <div class="card-content">
                    <h3>info Bilebante</h3>
                    <p>Dari 260 desa dari seluruh dunia, UNWTO memilih sebanyak 54 desa untuk menjadi salah satu Best Tourism Villages 2023, Sob...</p>
                    <a href="#" class="read-more">Read More → </a>
                </div>
            </div>
            <div class="card">
                <img src="../images/aset blog/pejabat.png" alt="Tourism">
                <div class="card-content">
                    <h3>info Bilebante</h3>
                    <p>Menindaklanjuti Radiogram dari Kepala Badan Strategi Kebijakan Dalam Negeri Kementerian Dalam Negeri Republik Indonesia Nomor: 000.10/5373/BSKDN tanggal 6 Oktober 2023...</p>
                    <a href="#" class="read-more">Read More → </a>
                </div>
            </div>
        </div>
    </section>

    <section id="comments">
        <h2>Kata Mereka Tentang Desa Hijau Bilebante?</h2>
        <div class="comments-container">
            <div class="comment-card">
                <div class="comment-name">NAMA</div>
                <div class="comment-text">KOMENTAR</div>
            </div>
            <div class="comment-card">
                <div class="comment-name">NAMA</div>
                <div class="comment-text">KOMENTAR</div>
            </div>
            <div class="comment-card">
                <div class="comment-name">NAMA</div>
                <div class="comment-text">KOMENTAR</div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-container">
            <div class="footer-logo">
                <a href="#"><img src="../images/logo tibante2.png" alt="Tibante Logo"></a>
                <p>TEMUKAN INDAHNYA BILEBANTE</p>
            </div>
            <div class="footer-menu">
                <h3>FITUR</h3>
                <ul>
                    <li><a href="../templates/index.html">Home</a></li>
                    <li><a href="../templates/wisata.html">Wisata</a></li>
                    <li><a href="../templates/kuliner.html">Kuliner</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="../templates/aboutus.html">About Us</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contact</h3>
                <ul>
                    <li><a href="#">Alamat</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>
</html>
