<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/home.css">
  
  
  <style>
   a,
   button,
   input,
   select,
   h1,
   h2,
   h3,
   h4,
   h5,
   * {
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       border: none;
       text-decoration: none;
       background: none;
   
       -webkit-font-smoothing: antialiased;
   }
   
   menu, ol, ul {
       list-style-type: none;
       margin: 0;
       padding: 0;
   }
   </style>
  <title>Home Tibante</title>
</head>
<body>
  <div class="home">
    <img class="rectangle-157" src="../images/aset home/rectangle-1570.png" />
    <img class="logo-tibante-2-2" src="../images/aset home/logo-tibante-2-20.png" />
    <div class="group-5">
      <div class="tibante">TIBANTE</div>
      <div class="temukan-indahnya-bilebante">Temukan Indahnya Bilebante</div>
    </div>
    <div class="group-4">
      <div class="group-2">
        <div class="rectangle-158"></div>
      </div>
      <div class="group-3">
        <div class="group-1">
          <button class="explore-more">Explore more</button>
        </div>
      </div>
    </div>
    <div class="group-9">
      <div class="about-us">About Us</div>
      <div class="blog">Blog</div>
      <div class="kuliner">Kuliner</div>
      <div class="wisata">Wisata</div>
      <div class="home2">Home</div>
    </div>
    <img class="rectangle-105" src="../images/aset home/rectangle-1050.svg" />
    <div class="home3">Home</div>
    <div class="wisata2">Wisata</div>
    <div class="kuliner2">Kuliner</div>
    <div class="blog2">Blog</div>
    <div class="about-us2">About Us</div>
    <div class="copyright-2024-tibante">Copyright 2024 | TIBANTE</div>
    <div class="fitur">FITUR</div>
    <div class="group-20">
      <div class="contact">Contact</div>
      <div class="group-17">
        <img class="image-13" src="../images/aset home/image-130.png" />
        <div
          class="bilebante-pringgarata-kabupaten-lombok-tengah-nusa-tenggara-barat"
        >
          Bilebante, Pringgarata, Kabupaten Lombok Tengah, Nusa Tenggara Barat
        </div>
      </div>
    </div>
    <div class="group-18">
      <div class="temukan-indahnya-bilebante2">TEMUKAN INDAHNYA BILEBANTE</div>
      <img class="logo-tibante-2-3" src="../images/aset home/logo-tibante-2-30.png" />
    </div>
    <img class="rectangle-112" src="../images/aset home/rectangle-1120.png" />
    <div class="group-41">
      <img class="rectangle-144" src="../images/aset home/rectangle-1440.svg" />
      <img class="rectangle-146" src="../images/aset home/rectangle-1460.png" />
      <div class="desa-wisata-hijau-bilebante">Desa Wisata Hijau Bilebante</div>
      <div
        class="datang-sebagai-tamu-pulang-sebagai-keluarga-liburan-yang-menyenangkan-ala-kampung-dengan-suasana-asli-pedesaan-tempat-rekreasi-yang-dekat-bersama-keluarga-pasangan-ataupun-sahabat-nikmati-berbagai-fasilitas-yang-kami-siapkan-untuk-rekreasi-kamu-seperti-kulineran-masa-kecil-khas-lombok-menyusuri-sawah-dan-hutan-menggunakan-sepeda-dan-atv-belajar-memanah-ala-rasulullah-hingga-menikmati-pijatan-khas-bilebante-semuanya-kami-kemas-menarik-dengan-harga-hemat"
      >
        &quot;Datang Sebagai Tamu Pulang Sebagai keluarga&quot;
        <br />
        Liburan yang menyenangkan ala kampung dengan suasana asli pedesaan. Tempat
        rekreasi yang dekat bersama keluarga, pasangan ataupun sahabat.
        <br />
        Nikmati berbagai fasilitas yang kami siapkan untuk rekreasi kamu, seperti
        kulineran masa kecil khas Lombok, menyusuri sawah dan hutan menggunakan
        sepeda dan ATV , belajar memanah ala rasulullah, hingga menikmati pijatan
        khas Bilebante, semuanya kami kemas menarik dengan harga hemat
        <br />
      </div>
    </div>
    <div class="rectangle-153"></div>
    <img class="image-7" src="../images/aset home/image-70.png" />
    <div class="rectangle-155"></div>
    <div
      class="kami-ajak-kamu-menjelajahi-keindahan-alam-di-desa-wisata-hijau-bilebante-kami-ajak-melewati-pematang-sawah-serta-perkebunan-warga-serta-melihat-langsung-kerukunan-beragama-di-desa-bilebante"
    >
      Kami ajak kamu menjelajahi keindahan alam di desa wisata hijau Bilebante.
      Kami ajak melewati pematang sawah serta perkebunan warga, serta melihat
      langsung kerukunan beragama di desa Bilebante
      <br />
    </div>
    <div
      class="tenang-saja-1-atv-bisa-dikendarai-2-orang-jadi-teman-kamu-yang-biasa-mengendarai-sepeda-motor-dengan-mudah-mengendarai-atv-atau-bisa-juga-guide-kami-yang-akan-mengendarai-atv"
    >
      Tenang saja, 1 ATV bisa dikendarai 2 orang. Jadi teman kamu yang biasa
      mengendarai sepeda motor dengan mudah mengendarai ATV. Atau bisa juga guide
      kami yang akan mengendarai ATV
    </div>
    <div
      class="penyewaan-atv-setiap-hari-hanya-saja-karena-atv-kami-belum-banyak-kami-sarankan-memesan-beberapa-hari-sebelum-kedatangan"
    >
      Penyewaan ATV setiap hari, hanya saja karena ATV kami belum banyak, kami
      sarankan memesan beberapa hari sebelum kedatangan
    </div>
    <div class="kemana-rute-atv">Kemana rute ATV?</div>
    <div class="bagaimana-bila-saya-tidak-bisa-mengendarai-atv">
      Bagaimana bila saya tidak bisa mengendarai ATV?
    </div>
    <div class="hari-apa-saja-bisa-menggunakan-atv">
      Hari apa saja bisa menggunakan ATV?
    </div>
    <div class="line-5"></div>
    <div class="line-6"></div>
    <div class="group-6">
      <img class="rectangle-154" src="../images/aset home/rectangle-1540.svg" />
      <div
        class="ada-banyak-sekali-yang-menanyakan-tentang-desa-wisata-bilebante-mungkin-ini-juga-pertanyaan-kamu"
      >
        Ada banyak sekali yang menanyakan tentang desa wisata Bilebante, mungkin
        ini juga pertanyaan kamu
      </div>
      <div class="pertanyaan-yang-sering-diajukan">
        Pertanyaan yang sering diajukan
      </div>
    </div>
    <div class="group-7">
      <img class="rectangle-156" src="../images/aset home/rectangle-1560.svg" />
      <div
        class="desa-wisata-hijau-bilebante-berlokasi-di-kecamatan-pringgarata-kab-lombok-tengah-kode-pos-83562"
      >
        Desa Wisata Hijau Bilebante berlokasi di Kecamatan Pringgarata kab. lombok
        Tengah kode pos 83562
      </div>
      <div class="desa-wisata-hijau-bilebante2">Desa Wisata Hijau Bilebante</div>
    </div>
    <div class="group-16">
      <div class="rectangle-132"></div>
      <div class="rectangle-136"></div>
      <img class="rectangle-137" src="../images/aset home/rectangle-1370.png" />
      <div class="rectangle-140"></div>
      <img class="rectangle-141" src="../images/aset home/rectangle-1410.png" />
      <div class="apa-keunikan-desa-bilebante">
        Apa keunikan Desa Bilebante?
        <br />
      </div>
      <div class="apa-yang-spesial-dari-desa-wisata-bilebante">
        Apa Yang Spesial Dari Desa Wisata Bilebante?
      </div>
      <div class="profil-dan-demografi-desa-bilebante">
        Profil dan Demografi Desa Bilebante
      </div>
      <div
        class="desa-wisata-hijau-dwh-bilebante-di-kecamatan-pringgarata-lombok-tengah-nusa-tenggara-barat-berjarak-sekitar-45-menit-dari-bandara-internasional-lombok-bil-1-5-jam-dari-mandalika-dan-20-menit-dari-mataram-desa-ini-berbatasan-dengan-beberapa-desa-lainnya-di-kecamatan-tersebut-luas-wilayah-bilebante-adalah-278-km-dengan-75-terdiri-dari-kawasan-hijau-termasuk-212-hektar-sawah-dan-87-hektar-kebun-sistem-irigasi-subak-yang-baik-membuat-desa-ini-jarang-kekeringan-dengan-pola-tanam-utama-padi-dan-palawija"
      >
        Desa Wisata Hijau (DWH) Bilebante di Kecamatan Pringgarata, Lombok Tengah,
        Nusa Tenggara Barat, berjarak sekitar 45 menit dari Bandara Internasional
        Lombok (BIL), 1,5 jam dari Mandalika, dan 20 menit dari Mataram. Desa ini
        berbatasan dengan beberapa desa lainnya di kecamatan tersebut. Luas
        wilayah Bilebante adalah 278 km², dengan 75% terdiri dari kawasan hijau,
        termasuk 212 hektar sawah dan 87 hektar kebun. Sistem irigasi Subak yang
        baik membuat desa ini jarang kekeringan, dengan pola tanam utama padi dan
        palawija.
        <br />
      </div>
      <div
        class="desa-bilebante-terdiri-dari-beberapa-dusun-yaitu-bilebante-karang-baru-tapon-timur-tapon-barat-jenggala-karang-kubu-dan-karang-ide-dengan-penduduk-beragama-muslim-dan-hindu-desa-ini-unik-karena-toleransi-antaragama-yang-kuat-terlihat-saat-hari-raya-nyepi-dijaga-oleh-umat-muslim-dan-hari-raya-idul-fitri-dijaga-oleh-umat-hindu-suasana-keakraban-dan-toleransi-keagamaan-menjadi-potensi-serta-kearifan-lokal-yang-terjaga-hingga-kini-menciptakan-suasana-khas-islami-dan-nuansa-bali-di-lombok"
      >
        Desa Bilebante terdiri dari beberapa dusun, yaitu Bilebante, Karang Baru,
        Tapon Timur, Tapon Barat, Jenggala, Karang Kubu, dan Karang Ide, dengan
        penduduk beragama Muslim dan Hindu. Desa ini unik karena toleransi
        antaragama yang kuat, terlihat saat Hari Raya Nyepi dijaga oleh umat
        Muslim dan Hari Raya Idul Fitri dijaga oleh umat Hindu. Suasana keakraban
        dan toleransi keagamaan menjadi potensi serta kearifan lokal yang terjaga
        hingga kini, menciptakan suasana khas Islami dan nuansa &quot;Bali di
        Lombok&quot;.
      </div>
      <div
        class="meskipun-jauh-dari-laut-warga-desa-bilebante-kreatif-mengolah-sumber-daya-laut-menjadi-kuliner-khas-daerah-desa-ini-meraih-penghargaan-desa-wisata-terbaik-pada-desa-wisata-award-2017-dari-kementerian-desa-pembangunan-daerah-tertinggal-dan-transmigrasi-desa-ini-memiliki-daya-tarik-yang-spektakuler-dan-patut-untuk-disimak-1-mencoba-ragam-aktivitas-outdoor-seru-di-pasar-pancingan-2-menyusuri-desa-sambil-bersepeda-3-mampir-ke-kebun-herbal-sambil-belajar-kesehatan-4-melihat-langsung-budidaya-rumput-laut-di-sawah-5-mencicipi-kuliner-lokal-yang-autentik"
      >
        Meskipun jauh dari laut, warga Desa Bilebante kreatif mengolah sumber daya
        laut menjadi kuliner khas daerah. Desa ini meraih penghargaan Desa Wisata
        Terbaik pada Desa Wisata Award 2017 dari Kementerian Desa, Pembangunan
        Daerah Tertinggal, dan Transmigrasi. Desa ini memiliki daya tarik yang
        spektakuler dan patut untuk disimak.
        <br />
        1. Mencoba ragam aktivitas outdoor seru di Pasar Pancingan
        <br />
        2. Menyusuri desa sambil bersepeda
        <br />
        3. Mampir ke kebun herbal sambil belajar Kesehatan
        <br />
        4. Melihat langsung budidaya rumput laut di sawah
        <br />
        5. Mencicipi kuliner lokal yang autentik
        <br />
      </div>
      <img class="image-12" src="../images/aset home/image-120.png" />
    </div>
    <div class="rectangle-159"></div>
    <div class="nama">Nama :</div>
    <div class="komentar">Komentar :</div>
    <div class="tambahkan-komentar">Tambahkan Komentar</div>
    <div class="rectangle-160"></div>
    <div class="rectangle-161"></div>
    <div class="group-30">
      <div class="rectangle-106"></div>
      <div class="rectangle-162"></div>
      <div class="rectangle-165"></div>
      <div class="rectangle-114"></div>
      <div class="rectangle-163"></div>
      <div class="rectangle-166"></div>
      <img class="rectangle-117" src="../images/aset home/rectangle-1170.svg" />
      <img class="rectangle-164" src="../images/aset home/rectangle-1640.svg" />
      <img class="rectangle-167" src="../images/aset home/rectangle-1670.svg" />
      <div class="nama2">Ikram</div>
      <div class="nama3">Ferdy</div>
      <div class="nama4">Yoga</div>
      <div class="komentar2">KOMENTAR</div>
      <div class="komentar3">KOMENTAR</div>
      <div class="komentar4">KOMENTAR</div>
    </div>
    <div class="group-42">
      <img class="rectangle-124" src="../images/aset home/rectangle-1240.png" />
      <img class="ellipse-1" src="../images/aset home/ellipse-10.png" />
      <img class="ellipse-4" src="../images/aset home/ellipse-40.png" />
      <img class="ellipse-2" src="../images/aset home/ellipse-20.png" />
      <img class="ellipse-3" src="../images/aset home/ellipse-30.png" />
      <div class="rectangle-125"></div>
      <div class="rectangle-126"></div>
      <div class="rectangle-127"></div>
      <div class="rectangle-128"></div>
      <div class="group-10">
        <div class="keluarga">Keluarga</div>
        <div
          class="yuk-jalin-kedekatan-dengan-keluarga-sambil-merasakan-nikmatnya-kuliner-khas-lombok-tempo-doloe"
        >
          Yuk jalin kedekatan dengan keluarga sambil merasakan nikmatnya kuliner
          khas Lombok tempo doloe
        </div>
      </div>
      <div class="group-14">
        <div class="pasangan">Pasangan</div>
        <div
          class="bikin-hati-doi-tambah-tambah-lengket-dengan-menikmati-keindahan-persawahan-dan-hutan-di-desa-bilebante"
        >
          Bikin hati doi tambah tambah lengket dengan menikmati keindahan
          persawahan dan hutan di desa Bilebante
        </div>
      </div>
      <div class="group-15">
        <div class="sahabat">Sahabat</div>
        <div
          class="yuk-jelajah-persawahan-dan-hutan-bareng-sahabat-dengan-bersepeda-maupun-menggunakan-atv"
        >
          Yuk jelajah persawahan dan hutan bareng sahabat dengan bersepeda maupun
          menggunakan ATV
        </div>
      </div>
      <div class="group-13">
        <div class="kegiatan-kantor">Kegiatan Kantor</div>
        <div
          class="gathering-kantor-makin-seru-dengan-latar-sawah-dan-perbukitan-khas-desa-bilebante-bisa-sekalian-makan-khas-bilebante-loh"
        >
          Gathering kantor makin seru dengan latar sawah dan perbukitan khas desa
          Bilebante, bisa sekalian makan khas Bilebante loh
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>