<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TIBANTE</title>
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <div class="main">
            <div class="logo">
                <img src="../images/logo tibante2.png">
            </div>
            <ul>
                <li class="active"><a href="#"><i class="fa fa-home">HOME</i></a></li>
                <li><a href="../wisata page/index.html">Wisata</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="../templates/kuliner.html">Kuliner</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
         </div>

         <div class="title">
            <h1>TIBANTE</h1>
            <h2>Temukan Indahnya Bilebante</h2>
         </div>
         <div class="button">
            <a href="#" class="btn">EXPLORE</a>
         </div>
    </header>

</body>
</html>