<html lang="en">
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="../styles/wisata.css" />
  </head>
  <body>

    <header>
        <div class="logo">
            <img src="../images/aset kuliner/logo_tibante_22.png" alt="TIBANTE Logo">
        </div>
        <nav>
            <ul>
                <li><a href="../templates/index.html" class="nav-item">Home</a></li>
                <li><a href="#" class="nav-item">Wisata</a></li>
                <li><a href="../templates/kuliner.html" class="nav-item">Kuliner</a></li>
                <li><a href="#" class="nav-item">Blog</a></li>
                <li><a href="../templates/aboutus.html" class="nav-item">About Us</a></li>
            </ul>
        </nav>
    </header>


    <main>
      <h1>
        5 Aktivitas Seru di Desa Wisata Bilebante, Kabupaten Lombok Tengah
      </h1>
      <div class="container">
        <div class="img">
          <img
            src="https://v1.indonesia.travel/content/dam/indtravelrevamp/id-id/ide-liburan/ini-dia-5-aktivitas-seru-di-desa-wisata-bilebante-kabupaten-lombok-tengah/pasar%20pancingan.jpg"
            alt=""
          />
        </div>
        <h2>1. Mencoba ragam aktivitas outdoor seru di Pasar Pancingan</h2>
        <p>
          Setibanya di desa, Sobat pesona mau mengisi perut dengan suasana
          identik desa di masa lalu? Wajib mampir ke Pasar Pancingan, nih! Iya,
          sesuai namanya, Sobat Pesona bisa mengikuti kegiatan memancing di
          kolam yang sudah disediakan dan uniknya, hasil pancingannya bisa
          langsung diolah menjadi kuliner berbahan dasar ikan. Selain itu, Sobat
          Pesona bisa juga menghampiri lapak-lapak jajanan kecil yang terbuat
          dari bambu atau lesehan dengan beragam makanan murah meriah dan
          Indonesia banget! Seru, kan?
        </p>
      </div>

      <br />

      <div class="container">
        <div class="img">
          <img
            src="https://v1.indonesia.travel/content/dam/indtravelrevamp/id-id/ide-liburan/ini-dia-5-aktivitas-seru-di-desa-wisata-bilebante-kabupaten-lombok-tengah/bersepeda.jpeg"
            alt=""
          />
        </div>
        <h2>2. Menyusuri desa sambil bersepeda</h2>
        <p>
          Sudah puas mengisi perut, saatnya berkeliling desa menggunakan sepeda.
          Sobat Pesona bisa merasakan sejuknya suasana desa sembari mengayuh
          sepeda mulai dari pemukiman warga, pinggiran sungai, pematang sawah,
          kebun sayur dan buah, Jembatan Lime serta Pura tertua di Lombok
          Tengah, yaitu Pura Lingkar Kelud. Kalau Sobat Pesona beruntung, bisa
          juga sekalian menyaksikan penanaman padi dan proses pembuatan topi
          khas lokal yang disebut “Kekere”. Wah, ini sih enggak ada bosannya!
        </p>
      </div>

      <br />

      <div class="container">
        <div class="img">
          <img
            src="https://v1.indonesia.travel/content/dam/indtravelrevamp/id-id/ide-liburan/ini-dia-5-aktivitas-seru-di-desa-wisata-bilebante-kabupaten-lombok-tengah/tanaman%20herbal.jpg"
            alt=""
          />
        </div>
        <h2>3. Mampir ke kebun herbal sambil belajar kesehatan</h2>
        <p>
          Tanah Desa Bilebante yang subur ditumbuhi beragam tanaman herbal yang
          sangat baik untuk kesehatan. Nah, penanaman dan pengembangbiakan kebun
          herbal ini dilakukan oleh para pemuda desa. Sobat Pesona nanti akan
          dipandu untuk belajar tentang kesehatan tanaman herbal ini.
        </p>
      </div>

      <br />

      <div class="container">
        <div class="img">
          <img
            src="https://v1.indonesia.travel/content/dam/indtravelrevamp/id-id/ide-liburan/ini-dia-5-aktivitas-seru-di-desa-wisata-bilebante-kabupaten-lombok-tengah/pasar%20pancingan.jpg"
            alt=""
          />
        </div>
        <h2>4. Melihat langsung budidaya rumput laut di sawah</h2>
        <p>
          Nah, ini dia salah satu jagoan wisata dan ekonominya desa Bilebante.
          Kalau biasanya kita tahu budi daya rumput laut ada di pinggir pantai,
          gimana jadinya kalau di desa? Iya, ada budi daya rumput laut di
          pesawahan desa Bilebante. Unik banget kan? Nantinya, hasil panen
          rumput laut tersebut dijadikan bahan baku pembuatan serabi. Dan
          tahukah Sobat Pesona, kalau hasil pangan laut inilah yang memajukan
          roda ekonomi desa. Makanya, wajib coba serabi rumput lautnya, ya!
        </p>
      </div>

      <br />

      <div class="container">
        <div class="img">
          <img
            src="https://v1.indonesia.travel/content/dam/indtravelrevamp/id-id/ide-liburan/ini-dia-5-aktivitas-seru-di-desa-wisata-bilebante-kabupaten-lombok-tengah/kuliner.jpg"
            alt=""
          />
        </div>
        <h2>5. Mencicipi kuliner lokal yang autentik</h2>
        <p>
          Jangan tanya soal kelezatan dan kearifan lokal kuliner di desa
          Bilebante. Di sini, Sobat Pesona bisa menemukan jajanan khas Indonesia
          seperti es pisang ijo, aneka bubur, serabi rumput laut, klepon, lupis,
          mule gati, secang, plecing kangkung, hingga nasi balap. Pastinya,
          bahan-bahan masakannya pun alami dan dari hasil perkebunan desa.
          Ditambah, ada juga produk unggulan minuman jamu, yaitu lemongrass tea
          atau serbat. Wih, sangat menggugah selera ya, Sobat Pesona? Jangan
          sampai meninggalkan desa ini sebelum mencicip sajian lokalnya, ya!
        </p>
      </div>
    </main>

    <br>

    <section class="faq">
      <div>
          <h2>Pertanyaan yang Sering Diajukan</h2>
          <article>
              <h3>Kemana rute ATV?</h3>
              <p>Kami ajak kamu menjelajahi keindahan alam di desa wisata hijau Bilebante. Kami ajak melewati pematang sawah serta perkebunan warga, serta melihat langsung kerukunan beragama di desa Bilebante.</p>
          </article>
          <article>
              <h3>Bagaimana bila saya tidak bisa mengendarai ATV?</h3>
              <p>Tenang saja, 1 ATV bisa dikendarai 2 orang. Jadi teman kamu yang biasa mengendarai sepeda motor dengan mudah mengendarai ATV. Atau bisa juga guide kami yang akan mengendarai ATV.</p>
          </article>
          <article>
              <h3>Hari apa saja bisa menggunakan ATV?</h3>
              <p>Penyewaan ATV setiap hari, hanya saja karena ATV kami belum banyak, kami sarankan memesan beberapa hari sebelum kedatangan.</p>
          </article>
      </div>
      <div class="info-box">
          <h3>Desa Wisata Hijau Bilebante</h3>
          <p>Desa Wisata Hijau Bilebante berlokasi di Kecamatan Pringgarata kab. Lombok Tengah kode pos 83562</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d504927.5934990641!2d115.60954447343748!3d-8.620287400000004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2dcdb853542c874f%3A0x66b9f7a3d176f784!2sDesa%20Wisata%20Hijau%20Bilebante!5e0!3m2!1sid!2sus!4v1717563493256!5m2!1sid!2sus" width="270" height="270" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </section>

    <section id="comments">
      <h2>Kata Mereka Tentang Desa Hijau Bilebante?</h2>
      <div class="comments-container">
          <div class="comment-card">
              <div class="comment-name">NAMA</div>
              <div class="comment-text">KOMENTAR</div>
          </div>
        <div class="comment-card">
            <div class="comment-name">NAMA</div>
            <div class="comment-text">KOMENTAR</div>
        </div>
        <div class="comment-card">
            <div class="comment-name">NAMA</div>
            <div class="comment-text">KOMENTAR</div>
        </div>
      </div>
    </section>
    
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="../images/aset kuliner/logo_tibante_22.png" alt="TIBANTE Logo">
                <p>TEMUKAN INDAHNYA BILEBANTE</p>
            </div>
            <div class="footer-nav">
                <h3>FITUR</h3>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Wisata</a></li>
                    <li><a href="#">Kuliner</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="footer-contact">
                <h3>Contact</h3>
                <p>Bilebante, Pringgarata, Kabupaten Lombok Tengah, Nusa Tenggara Barat</p>
            </div>
        </div>
        <p class="copyright">Copyright 2024 | TIBANTE</p>
    </footer>

  </body>
</html>
