/* Figma Styles of your File */
:root{
    /* Colors */
    /* Fonts */
    /* Effects */
  }
  
  .home,
  .home * {
    box-sizing: border-box;
  }
  .home {
    background: #ffffff;
    border-radius: 10px;
    height: 8796px;
    position: relative;
    overflow: hidden;
  }
  .navbar {
    position: absolute;
    inset: 0;
  }
  .rectangle-157 {
    width: 2135px;
    height: 1435px;
    position: absolute;
    left: -2px;
    top: 0px;
    object-fit: cover;
  }
  .logo-tibante-2-2 {
    width: 320px;
    height: 97px;
    position: absolute;
    left: 56px;
    top: 30px;
    object-fit: cover;
  }
  .group-5 {
    width: 880px;
    height: 192px;
    position: static;
  }
  .tibante {
    color: #ffffff;
    text-align: left;
    font-family: "InknutAntiqua-ExtraBold", sans-serif;
    font-size: 96px;
    line-height: 150%;
    font-weight: 800;
    position: absolute;
    left: 795px;
    top: 471px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .temukan-indahnya-bilebante {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 64px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 618px;
    top: 568px;
    width: 880px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .group-4 {
    width: 468px;
    height: 96px;
    position: static;
  }
  .group-2 {
    width: 468px;
    height: 96px;
    position: static;
  }
  .rectangle-158 {
    background: #579c62;
    border-radius: 10px;
    border-style: solid;
    border-color: #579c62;
    border-width: 1px;
    width: 468px;
    height: 96px;
    position: absolute;
    left: 817px;
    top: 717px;
  }
  .group-3 {
    width: 402px;
    height: 96px;
    position: static;
  }
  .group-1 {
    width: 402px;
    height: 96px;
    position: static;
  }
  .explore-more {
    color: #ffffff;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 64px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 822px;
    top: 718px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .group-9 {
    width: 675px;
    height: 36px;
    position: static;
  }
  .about-us {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 1995px;
    top: 54px;
    width: 122px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .blog {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 1886px;
    top: 54px;
    width: 60px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .kuliner {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 1738px;
    top: 54px;
    width: 89px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .wisata {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 1588px;
    top: 54px;
    width: 91px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .home2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 1442px;
    top: 54px;
    width: 76px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer {
    position: absolute;
    inset: 0;
  }
  .rectangle-105 {
    width: 2135px;
    height: 341px;
    position: absolute;
    left: 1px;
    top: 8461px;
    overflow: visible;
  }
  .home3 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1262px;
    top: 8576px;
  }
  .wisata2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1262px;
    top: 8609px;
  }
  .kuliner2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1262px;
    top: 8642px;
  }
  .blog2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1261px;
    top: 8675px;
  }
  .about-us2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1262px;
    top: 8708px;
  }
  .copyright-2024-tibante {
    color: #000000;
    text-align: center;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 883px;
    top: 8750px;
  }
  .fitur {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1279px;
    top: 8539px;
  }
  .group-20 {
    width: 485px;
    height: 70px;
    position: static;
  }
  .contact {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1652px;
    top: 8539px;
  }
  .group-17 {
    width: 485px;
    height: 38px;
    position: static;
  }
  .image-13 {
    width: 25px;
    height: 28px;
    position: absolute;
    left: 1623px;
    top: 8576px;
    object-fit: cover;
  }
  .bilebante-pringgarata-kabupaten-lombok-tengah-nusa-tenggara-barat {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 1657px;
    top: 8571px;
    width: 451px;
  }
  .group-18 {
    width: 585px;
    height: 177px;
    position: static;
  }
  .temukan-indahnya-bilebante2 {
    color: #000000;
    text-align: center;
    font-family: "InknutAntiqua-SemiBold", sans-serif;
    font-size: 24px;
    font-weight: 600;
    position: absolute;
    left: 1px;
    top: 8612px;
    width: 585px;
    height: 80px;
  }
  .logo-tibante-2-3 {
    width: 320px;
    height: 97px;
    position: absolute;
    left: 133px;
    top: 8515px;
    object-fit: cover;
  }
  .body {
    position: absolute;
    inset: 0;
  }
  .rectangle-112 {
    width: 1298px;
    height: 87px;
    position: absolute;
    left: 422px;
    top: 7400px;
    object-fit: cover;
  }
  .group-41 {
    width: 1566px;
    height: 927px;
    position: static;
  }
  .rectangle-144 {
    border-radius: 0px;
    width: 1566px;
    height: 927px;
    position: absolute;
    left: 311px;
    top: 1542px;
    overflow: visible;
  }
  .rectangle-146 {
    width: 473px;
    height: 721px;
    position: absolute;
    left: 1324px;
    top: 1656px;
    object-fit: cover;
  }
  .desa-wisata-hijau-bilebante {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 48px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 533px;
    top: 1650px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .datang-sebagai-tamu-pulang-sebagai-keluarga-liburan-yang-menyenangkan-ala-kampung-dengan-suasana-asli-pedesaan-tempat-rekreasi-yang-dekat-bersama-keluarga-pasangan-ataupun-sahabat-nikmati-berbagai-fasilitas-yang-kami-siapkan-untuk-rekreasi-kamu-seperti-kulineran-masa-kecil-khas-lombok-menyusuri-sawah-dan-hutan-menggunakan-sepeda-dan-atv-belajar-memanah-ala-rasulullah-hingga-menikmati-pijatan-khas-bilebante-semuanya-kami-kemas-menarik-dengan-harga-hemat {
    color: #000000;
    text-align: justified;
    font-family: "Inter-Medium", sans-serif;
    font-size: 32px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 459px;
    top: 1814px;
    width: 796px;
    height: 602px;
    display: flex;
    align-items: center;
  }
  .rectangle-153 {
    background: #bae0ad;
    border-radius: 15px;
    width: 1209px;
    height: 711px;
    position: absolute;
    left: 460px;
    top: 6622px;
  }
  .image-7 {
    width: 429px;
    height: 309px;
    position: absolute;
    left: 1199px;
    top: 6864px;
    object-fit: cover;
  }
  .rectangle-155 {
    background: #ffffff;
    border-radius: 10px;
    width: 602px;
    height: 400px;
    position: absolute;
    left: 552px;
    top: 6822px;
  }
  .kami-ajak-kamu-menjelajahi-keindahan-alam-di-desa-wisata-hijau-bilebante-kami-ajak-melewati-pematang-sawah-serta-perkebunan-warga-serta-melihat-langsung-kerukunan-beragama-di-desa-bilebante {
    color: #000000;
    text-align: left;
    font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
    font-size: var(--small-text-font-size, 16px);
    line-height: var(--small-text-line-height, 150%);
    font-weight: var(--small-text-font-weight, 500);
    position: absolute;
    left: 584px;
    top: 6858px;
    width: 538px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .tenang-saja-1-atv-bisa-dikendarai-2-orang-jadi-teman-kamu-yang-biasa-mengendarai-sepeda-motor-dengan-mudah-mengendarai-atv-atau-bisa-juga-guide-kami-yang-akan-mengendarai-atv {
    color: #000000;
    text-align: left;
    font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
    font-size: var(--small-text-font-size, 16px);
    line-height: var(--small-text-line-height, 150%);
    font-weight: var(--small-text-font-weight, 500);
    position: absolute;
    left: 579px;
    top: 6986px;
    width: 538px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .penyewaan-atv-setiap-hari-hanya-saja-karena-atv-kami-belum-banyak-kami-sarankan-memesan-beberapa-hari-sebelum-kedatangan {
    color: #000000;
    text-align: left;
    font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
    font-size: var(--small-text-font-size, 16px);
    line-height: var(--small-text-line-height, 150%);
    font-weight: var(--small-text-font-weight, 500);
    position: absolute;
    left: 579px;
    top: 7105px;
    width: 531px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .kemana-rute-atv {
    color: #000000;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 700;
    position: absolute;
    left: 584px;
    top: 6834px;
    width: 212px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .bagaimana-bila-saya-tidak-bisa-mengendarai-atv {
    color: #000000;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: absolute;
    left: 579px;
    top: 6956px;
    width: 504px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .hari-apa-saja-bisa-menggunakan-atv {
    color: #000000;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 20px;
    line-height: 150%;
    font-weight: 600;
    position: absolute;
    left: 579px;
    top: 7079px;
    width: 393px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .line-5 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 547.35px;
    height: 0px;
    position: absolute;
    left: 574.19px;
    top: 6951px;
    transform-origin: 0 0;
    transform: rotate(-0.083deg) scale(1, 1);
  }
  .line-6 {
    border-style: solid;
    border-color: #000000;
    border-width: 1px 0 0 0;
    width: 543.79px;
    height: 0px;
    position: absolute;
    left: 574.19px;
    top: 7070px;
    transform-origin: 0 0;
    transform: rotate(-0.253deg) scale(1, 1);
  }
  .group-6 {
    width: 603px;
    height: 101px;
    position: static;
  }
  .rectangle-154 {
    border-radius: 0px;
    width: 603px;
    height: 101px;
    position: absolute;
    left: 552px;
    top: 6687px;
    overflow: visible;
  }
  .ada-banyak-sekali-yang-menanyakan-tentang-desa-wisata-bilebante-mungkin-ini-juga-pertanyaan-kamu {
    color: #000000;
    text-align: left;
    font-family: var(--small-text-font-family, "Inter-Medium", sans-serif);
    font-size: var(--small-text-font-size, 16px);
    line-height: var(--small-text-line-height, 150%);
    font-weight: var(--small-text-font-weight, 500);
    position: absolute;
    left: 588px;
    top: 6723px;
    width: 480px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .pertanyaan-yang-sering-diajukan {
    color: #000000;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    position: absolute;
    left: 588px;
    top: 6687px;
    width: 414px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .group-7 {
    width: 429px;
    height: 119.58px;
    position: static;
  }
  .rectangle-156 {
    border-radius: 0px;
    width: 429px;
    height: 119.58px;
    position: absolute;
    left: 1212px;
    top: 6678px;
    overflow: visible;
  }
  .desa-wisata-hijau-bilebante-berlokasi-di-kecamatan-pringgarata-kab-lombok-tengah-kode-pos-83562 {
    color: #000000;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 13px;
    line-height: 150%;
    font-weight: 600;
    position: absolute;
    left: 1257px;
    top: 6726.31px;
    width: 339px;
    height: 55.56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .desa-wisata-hijau-bilebante2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Bold", sans-serif;
    font-size: 16px;
    line-height: 150%;
    font-weight: 700;
    position: absolute;
    left: 1300px;
    top: 6697px;
    width: 269px;
    height: 28.99px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .group-16 {
    width: 1602px;
    height: 3105px;
    position: static;
  }
  .rectangle-132 {
    background: #bae0ad;
    border-radius: 15px;
    width: 1591px;
    height: 968px;
    position: absolute;
    left: 284px;
    top: 3428px;
  }
  .rectangle-136 {
    background: #bae0ad;
    border-radius: 15px;
    width: 1591px;
    height: 968px;
    position: absolute;
    left: 286px;
    top: 4496px;
  }
  .rectangle-137 {
    border-radius: 10px;
    width: 626px;
    height: 737px;
    position: absolute;
    left: 1155px;
    top: 4598px;
    object-fit: cover;
  }
  .rectangle-140 {
    background: #bae0ad;
    border-radius: 15px;
    width: 1602px;
    height: 968px;
    position: absolute;
    left: 275px;
    top: 5565px;
  }
  .rectangle-141 {
    border-radius: 10px;
    width: 626px;
    height: 737px;
    position: absolute;
    left: 527px;
    top: 5612px;
    object-fit: cover;
  }
  .apa-keunikan-desa-bilebante {
    color: #000000;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    left: 441px;
    top: 4644px;
    width: 562px;
    height: 44px;
  }
  .apa-yang-spesial-dari-desa-wisata-bilebante {
    color: #000000;
    text-align: center;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 36px;
    font-weight: 600;
    position: absolute;
    left: 1259px;
    top: 5716px;
    width: 562px;
    height: 65px;
  }
  .profil-dan-demografi-desa-bilebante {
    color: #000000;
    text-align: left;
    font-family: "Inter-SemiBold", sans-serif;
    font-size: 32px;
    font-weight: 600;
    position: absolute;
    left: 1162px;
    top: 3632px;
    width: 556px;
  }
  .desa-wisata-hijau-dwh-bilebante-di-kecamatan-pringgarata-lombok-tengah-nusa-tenggara-barat-berjarak-sekitar-45-menit-dari-bandara-internasional-lombok-bil-1-5-jam-dari-mandalika-dan-20-menit-dari-mataram-desa-ini-berbatasan-dengan-beberapa-desa-lainnya-di-kecamatan-tersebut-luas-wilayah-bilebante-adalah-278-km-dengan-75-terdiri-dari-kawasan-hijau-termasuk-212-hektar-sawah-dan-87-hektar-kebun-sistem-irigasi-subak-yang-baik-membuat-desa-ini-jarang-kekeringan-dengan-pola-tanam-utama-padi-dan-palawija {
    color: #000000;
    text-align: justified;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    left: 1162px;
    top: 3812px;
    width: 571px;
    height: 451px;
  }
  .desa-bilebante-terdiri-dari-beberapa-dusun-yaitu-bilebante-karang-baru-tapon-timur-tapon-barat-jenggala-karang-kubu-dan-karang-ide-dengan-penduduk-beragama-muslim-dan-hindu-desa-ini-unik-karena-toleransi-antaragama-yang-kuat-terlihat-saat-hari-raya-nyepi-dijaga-oleh-umat-muslim-dan-hari-raya-idul-fitri-dijaga-oleh-umat-hindu-suasana-keakraban-dan-toleransi-keagamaan-menjadi-potensi-serta-kearifan-lokal-yang-terjaga-hingga-kini-menciptakan-suasana-khas-islami-dan-nuansa-bali-di-lombok {
    color: #000000;
    text-align: justified;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 409px;
    top: 4812px;
    width: 578px;
    height: 454px;
  }
  .meskipun-jauh-dari-laut-warga-desa-bilebante-kreatif-mengolah-sumber-daya-laut-menjadi-kuliner-khas-daerah-desa-ini-meraih-penghargaan-desa-wisata-terbaik-pada-desa-wisata-award-2017-dari-kementerian-desa-pembangunan-daerah-tertinggal-dan-transmigrasi-desa-ini-memiliki-daya-tarik-yang-spektakuler-dan-patut-untuk-disimak-1-mencoba-ragam-aktivitas-outdoor-seru-di-pasar-pancingan-2-menyusuri-desa-sambil-bersepeda-3-mampir-ke-kebun-herbal-sambil-belajar-kesehatan-4-melihat-langsung-budidaya-rumput-laut-di-sawah-5-mencicipi-kuliner-lokal-yang-autentik {
    color: #000000;
    text-align: justified;
    font-family: "Inter-Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    left: 1249px;
    top: 5871px;
    width: 578px;
    height: 454px;
  }
  .image-12 {
    border-radius: 10px;
    width: 798px;
    height: 697px;
    position: absolute;
    left: 323px;
    top: 3584px;
    object-fit: cover;
  }
  .rectangle-159 {
    background: #bae0ad;
    border-radius: 15px;
    width: 690px;
    height: 332px;
    position: absolute;
    left: 726px;
    top: 7554px;
  }
  .nama {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 783px;
    top: 7668px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .komentar {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 783px;
    top: 7775px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .tambahkan-komentar {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    line-height: 150%;
    font-weight: 500;
    position: absolute;
    left: 952px;
    top: 7583px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .rectangle-160 {
    background: #d9d9d9;
    border-radius: 20px;
    width: 457px;
    height: 48px;
    position: absolute;
    left: 913px;
    top: 7656px;
  }
  .rectangle-161 {
    background: #d9d9d9;
    border-radius: 20px;
    width: 457px;
    height: 48px;
    position: absolute;
    left: 913px;
    top: 7763px;
  }
  .group-30 {
    width: 1495px;
    height: 355px;
    position: static;
  }
  .rectangle-106 {
    background: #bae0ad;
    border-radius: 15px;
    width: 375px;
    height: 355px;
    position: absolute;
    left: 334px;
    top: 8014px;
  }
  .rectangle-162 {
    background: #bae0ad;
    border-radius: 15px;
    width: 375px;
    height: 355px;
    position: absolute;
    left: 1454px;
    top: 8014px;
  }
  .rectangle-165 {
    background: #bae0ad;
    border-radius: 15px;
    width: 375px;
    height: 355px;
    position: absolute;
    left: 904px;
    top: 8014px;
  }
  .rectangle-114 {
    background: #ffffff;
    border-radius: 10px;
    width: 304px;
    height: 186px;
    position: absolute;
    left: 371px;
    top: 8161px;
  }
  .rectangle-163 {
    background: #ffffff;
    border-radius: 10px;
    width: 304px;
    height: 186px;
    position: absolute;
    left: 1491px;
    top: 8161px;
  }
  .rectangle-166 {
    background: #ffffff;
    border-radius: 10px;
    width: 304px;
    height: 186px;
    position: absolute;
    left: 941px;
    top: 8161px;
  }
  .rectangle-117 {
    border-radius: 0px;
    width: 304px;
    height: 71px;
    position: absolute;
    left: 371px;
    top: 8066px;
    overflow: visible;
  }
  .rectangle-164 {
    border-radius: 0px;
    width: 304px;
    height: 71px;
    position: absolute;
    left: 1491px;
    top: 8066px;
    overflow: visible;
  }
  .rectangle-167 {
    border-radius: 0px;
    width: 304px;
    height: 71px;
    position: absolute;
    left: 941px;
    top: 8066px;
    overflow: visible;
  }
  .nama2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    left: 486px;
    top: 8087px;
  }
  .nama3 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    left: 1606px;
    top: 8087px;
  }
  .nama4 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    left: 1056px;
    top: 8087px;
  }
  .komentar2 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    left: 445px;
    top: 8215px;
  }
  .komentar3 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    left: 1565px;
    top: 8215px;
  }
  .komentar4 {
    color: #000000;
    text-align: left;
    font-family: "Inter-Medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
    position: absolute;
    left: 1015px;
    top: 8215px;
  }
  .group-42 {
    width: 1498px;
    height: 703px;
    position: static;
  }
  .rectangle-124 {
    border-radius: 20px;
    width: 728px;
    height: 97px;
    position: absolute;
    left: 754px;
    top: 2576px;
    object-fit: cover;
  }
  .ellipse-1 {
    border-radius: 50%;
    width: 217px;
    height: 197px;
    position: absolute;
    left: 311px;
    top: 2736px;
    object-fit: cover;
  }
  .ellipse-4 {
    border-radius: 50%;
    width: 217px;
    height: 197px;
    position: absolute;
    left: 1118px;
    top: 3082px;
    object-fit: cover;
  }
  .ellipse-2 {
    border-radius: 50%;
    width: 217px;
    height: 197px;
    position: absolute;
    left: 311px;
    top: 3082px;
    object-fit: cover;
  }
  .ellipse-3 {
    border-radius: 50%;
    width: 217px;
    height: 197px;
    position: absolute;
    left: 1118px;
    top: 2719px;
    object-fit: cover;
  }
  .rectangle-125 {
    background: #bae0ad;
    border-radius: 15px;
    width: 407px;
    height: 174px;
    position: absolute;
    left: calc(50% - 497.5px);
    top: calc(50% - 1304px);
  }
  .rectangle-126 {
    background: #bae0ad;
    border-radius: 15px;
    width: 407px;
    height: 174px;
    position: absolute;
    left: 1402px;
    top: 3094px;
  }
  .rectangle-127 {
    background: #bae0ad;
    border-radius: 15px;
    width: 407px;
    height: 174px;
    position: absolute;
    left: 570px;
    top: 2751px;
  }
  .rectangle-128 {
    background: #bae0ad;
    border-radius: 15px;
    width: 407px;
    height: 174px;
    position: absolute;
    left: 1402px;
    top: 2736px;
  }
  .group-10 {
    width: 384px;
    height: 96px;
    position: static;
  }
  .keluarga {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 581px;
    top: 2782px;
    width: 142px;
    height: 18px;
  }
  .yuk-jalin-kedekatan-dengan-keluarga-sambil-merasakan-nikmatnya-kuliner-khas-lombok-tempo-doloe {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 581px;
    top: 2816px;
    width: 384px;
    height: 62px;
  }
  .group-14 {
    width: 384px;
    height: 96px;
    position: static;
  }
  .pasangan {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 1413px;
    top: 2773px;
    width: 142px;
    height: 18px;
  }
  .bikin-hati-doi-tambah-tambah-lengket-dengan-menikmati-keindahan-persawahan-dan-hutan-di-desa-bilebante {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 1413px;
    top: 2807px;
    width: 384px;
    height: 62px;
  }
  .group-15 {
    width: 384px;
    height: 96px;
    position: static;
  }
  .sahabat {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 1413px;
    top: 3134px;
    width: 142px;
    height: 18px;
  }
  .yuk-jelajah-persawahan-dan-hutan-bareng-sahabat-dengan-bersepeda-maupun-menggunakan-atv {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 1413px;
    top: 3168px;
    width: 384px;
    height: 62px;
  }
  .group-13 {
    width: 384px;
    height: 96px;
    position: static;
  }
  .kegiatan-kantor {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: absolute;
    left: 589px;
    top: 3133px;
    width: 165px;
  }
  .gathering-kantor-makin-seru-dengan-latar-sawah-dan-perbukitan-khas-desa-bilebante-bisa-sekalian-makan-khas-bilebante-loh {
    color: #000000;
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 589px;
    top: 3167px;
    width: 384px;
    height: 62px;
  }
  
  .explore-more {
    display: inline-block;
    background-color: #579c62; /* Change to match your design */
    color: #fff;
    padding: 10px 80px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  .explore-more:hover {
    background-color: #457a4b; /* Change to match your design */
  }
  