body{
    margin: 0;
    padding: 0;
}

header {
    background-color: #579C62;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    height: 60px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem; 
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav-item :hover{
    background-color: #486a4c;
}
/* ============================================ */
h1{
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
}

main img{
    width: 800px;
}

.img{
    text-align: center;
}

.container{
    background-color: #BAE0AD;
    padding: 30px;
    width: 1000px;
    align-self: center;

}

.faq {
    background-color: #E7F4E4;
    padding: 2rem;
    border-radius: 8px;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    margin: 20px auto;  
    max-width: 1000px;  
    align-items: center;
}

.faq h2 {
    color: #579C62;
    margin-bottom: 1rem;
    font-size: 2rem; /* Increased font size */
}

.faq article {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 1;
}

.faq article h3 {
    color: #333;
    margin-bottom: 0.5rem;
    font-size: 1.5rem; /* Increased font size */
}

.faq article p {
    color: #666;
    font-size: 1.125rem; /* Increased font size */
}

.faq .info-box {
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
}

.faq .info-box h3 {
    color: #333;
    margin-bottom: 0.5rem;
    font-size: 1.5rem; /* Increased font size */
}

.faq .info-box p {
    color: #666;
    margin-bottom: 1rem;
    font-size: 1.125rem; /* Increased font size */
}
/* ============================================ */
footer {
    background-color: #579C62;
    color: black;
    padding: 20px;
    text-align: center;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
}

footer .footer-content div {
    flex: 1;
}

footer .footer-logo img {
    height: 50px;
}

footer .footer-nav ul {
    list-style: none;
    padding: 0;
}

footer .footer-nav ul li {
    margin-bottom: 10px;
}

footer .footer-nav ul li a {
    color: black;
    text-decoration: none;
}

footer .footer-contact p {
    margin: 0;
}

footer .footer-contact {
    padding-left: 20px;
}

footer .footer-nav {
    padding-left: 20px;
}

footer .footer-logo {
    text-align: left;
}

footer .footer-logo p {
    margin: 0;
}

footer .footer-content h3 {
    margin-top: 0;
}

footer .footer-nav h3, .footer-contact h3 {
    margin-top: 0;
}

footer p {
    margin: 0;
}

footer .copyright {
    margin-top: 20px;
}
